<h1>THIS IS THE SECRET PAGE!</h1>
<p>
	You found me!
</p>

<img src="https://i.kinja-img.com/gawker-media/image/upload/s--dgT2-Ooz--/c_scale,f_auto,fl_progressive,q_80,w_800/18vrn7xvjtv6hjpg.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>